{% load static %}
<article class="card">



  <div class="flex items-center justify-between px-4 h-14">
    <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
    <div class="text-sm text-gray-400 truncate">
      flickr<a href="{{ post.url }}" class="hover:underline ml-1" target="blank">@{{ post.artist }}</a>
    </div>
  </div>
  <figure>
    <a href="{% url 'post_detail' post.id %}"><img class="w-full" src="{{ post.image }}"
        alt="Jedi Kitty protects the street" /></a>
  </figure>
  <div class="p-4 pb-2">



    <a class="flex items-center gap-1 mb-4" href="{% url 'profile'%}">
      <img class="w-8 h-8 object-cover rounded-full"
        src="{{ post.author.profile.avatar.url | default:'static/img/profile.png' }}" />
      <span class="font-bold hover:underline">{{ post.author.profile.name | default:'Нет автора' }}</span>
      <span class="text-sm text-gray-400">@{{ post.author.username | default:'anonymous' }}</span>
    </a>


    <p class="text-5xl mb-10 px-4 font1">{{ post.body|default:'Not text' }}</p>
    <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">

      {% for tag in post.tags.all %}
      <a href="{% url 'category' tag.slug %}" class="bg-gray-200 rounded-full px-3 py-1
      hover:bg-gray-800 hover:text-white">{{ tag.name }}</a>
      {% endfor %}
    </div>
    <div class="flex items-center justify-between text-sm px-2">
      <a class="font-bold hover:underline" href="{% url 'post_detail' post.id %}">
        Комментарии
        <span class="font-light text-gray-500 ml-1">{{ post.comments.count|default:'0' }}</span>
      </a>
      <div class="flex items-center gap-4 [&>a:hover]:underline">

        {% include 'snippets/likes.html' %}

        {% if request.user == post.author %}
        <a href="{% url 'post_edit' post.id %}">Редактировать</a>
        <a href="{% url 'post_delete'  post.id %}">Удалить</a>
        {% endif %}


      </div>
    </div>
  </div>
</article>