{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    <div class="flex items-center gap-1">

        {% if request.user in post.likes.all %}
        <img class="w-5 -mt-1" src="{% static 'img/fireheart_red.svg' %}" />

        {% else %}
        <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png" />

        {% endif %}
            {{ post.likes.count|default:'0' }}
    </div>

    {% if request.user.is_authenticated and request.user != post.author %}
    <a class="cursor-pointer" 
    hx-get="{% url 'add_like_post' post.id %}" 
    hx-target="closest div" 
    hx-swap="outerHTML">

        {% if request.user in post.likes.all %}
        <span class=""><b>Понравилось</b></span>
        {% else %}
        Нравится
        {% endif %}
    </a>
    {% endif %}
</div>